@charset "UTF-8";

/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/*VARIANTES*/
:root{
    --titulo: 'Passion One', cursive;
    --fonte1: 'Sriracha', cursive;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
}

/*GERAL*/
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
}

/*HEADER*/
header{
    padding: 50px 0px;
    background-color: black;
    text-align: center;
    color: white;
}
header > h1{
    font-family: var(--titulo);
    font-size: 10vw;
    font-weight: bold;
}
header > p{
    font-family: var(--fonte2);
}

/*A*/
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

/*SECTION*/
section{
    background-color: white;
    padding: 15vw 0px 15vw 40px;
    line-height: 2.5em;
    font-family: var(--fonte1);
    font-size: 3vw;
}
section > p{
    padding-bottom: 2em;
}
section.imagem{
    color: white;
    box-shadow: inset 0px 15px 20px 2px rgba(0, 0, 0, 0.7);
    background-position: right bottom;
    background-attachment: fixed;
}
section#img01{
    background-image: url(../imagens/background001.jpg);
}
section#img02{
    background-image: url(../imagens/background002.jpg);
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.35);
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 1px 0px black;
}

/*FOOTER*/
footer{
    background-color: black;
    text-align: center;
}
footer p{
    padding: 15px 0px;
    color: white;
    font-family: var(--fonte2);
}
